#startOverlay{
	background-image:url("../media/background.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: contain;
	
	position:absolute;
	width:100%;
	height:100%;
}

body{
	background-color:#0b0b0b;
}
#menuButton{
	color:#d9d9d9;
}
